.nav-menu {
  min-height: 395px;
}

.nav-menu__list {
  list-style-type: none;
  flex-direction: column;
  padding: 0;
  display: none;
}

.nav-menu__list_show {
  display: flex;
}

.nav-menu__item {
  border-top: 1px solid #ebebeb;
}

.nav-menu__link {
  display: block;
  padding-bottom: 30px;
  padding-top: 30px;
  font-size: 17px;
  font-weight: 700;
  color: #000000;
  padding-left: 70px;
  text-decoration: none;
}

@media (min-width: 768px) {
  .nav-menu {
    min-height: 150px;
    border: none;
  }
}

@media (min-width: 768px) {
  .nav-menu__list {
    display: flex;
    flex-direction: row;
  }

  .nav-menu__list_1 {
    order: 3;
  }

  .nav-menu__list_2 {
    order: 2;
  }

  .nav-menu__item {
    border: none;
    margin: 0 10px;
  }
}

@media (min-width: 1150px) {
  .nav-menu__list_1 {
    order: 1;
  }

  .nav-menu__list_2 {
    order: 3;
  }
}
