.separate {
  padding-top: 70px;
  position: relative;
  border-top: 1px solid #ececec;
}

.separate__cover {
  position: absolute;
  width: 100%;
  height: 280px;
  background-color: #fdfdfd;
  background-image: url("../img/hero-mobile@1x.jpg");
  background-size: cover;
  z-index: -1;
  top: 0;
  left: 0;
  background-position: 50%;
}

.separate__title {
  font-size: 27px;
  font-weight: 700;
  text-align: center;
  margin-bottom: 118px;
  margin-top: 0;
  line-height: 30px;
}

.separate__links {
  display: flex;
  flex-direction: column;
}

.separate__link {
  display: block;
  min-height: 107px;
  line-height: 107px;
  padding-left: 30px;
  font-size: 19px;
  font-weight: 700;
  color: #ffffff;
  text-decoration: none;

  &--lightgreen {
    background-color: #63d1bb;
    background-image: url("../img/icon-interior.svg");
    background-repeat: no-repeat;
    background-position: 86% 40%;
  }

  &--green {
    background-color: #56c3b2;
    background-image: url("../img/icon-toy.svg");
    background-repeat: no-repeat;
    background-position: 86% 40%;
  }
}

.separate__link-span {
  display: block;
  width: 100px;
  line-height: 20px;
  padding-top: 30px;

  color: #ffffff;
}

@media (min-width: 768px) {
  .separate__links {
    flex-direction: row;
    justify-content: space-between;
    max-width: 90%;
    margin: 0 auto;
  }

  .separate__cover {
    height: 337px;
  }

  .separate__link {
    display: flex;
    flex-grow: 1;
    min-width: 334px;
    min-height: 119px;
    line-height: 119px;
    padding-left: 37px;
    box-sizing: border-box;
  }

  .separate__link-span {
    min-width: 80px;
    line-height: 20px;
    padding-top: 30px;
  }
}

@media (min-width: 1150px) {
  .separate__links {
    flex-direction: row;
    justify-content: space-between;
  }

  .separate__link {
    min-width: 524px;
    min-height: 135px;
    line-height: 135px;
    margin: 0;
  }

  .separate__link-span {
    width: 100px;
    line-height: 20px;
  }
}
